<form #registerForm="ngForm" style="margin-top: 5%">
<div class="row d-flex justify-content-center" style="margin-top: 5%">
  <div class="column">
    <p style="text-align:center; margin-top: 5%">Select Users</p>
    <div style="margin-top: 10%">
      <ul *ngFor="let user of users" class="list-group">
        <li class="list-group-item">
          <app-user [user]="user" (click)="addUserToNewChat(user)"></app-user>
        </li>
      </ul>
    </div>
  </div>
  <div class="column" style="margin-left: 10%">
    <div style="margin-top: 5%" class="d-flex justify-content-center">
      <label for="chatName">Chat Name</label>
    </div>
    <div class="d-flex justify-content-center">
      <input
        ngModel
        style="width: 300px; margin-top: 2%"
        class="form-control"
        id="chatName"
        name="chatName"
        #chatName="ngModel"
        required
        type="text">
    </div>

    <div style="margin-top: 5%" class="d-flex justify-content-center">
      <label for="chatDescription">Chat Description</label>
    </div>
    <div class="d-flex justify-content-center">
      <input
        ngModel
        style="width: 300px; margin-top: 2%"
        class="form-control"
        id="chatDescription"
        name="chatDescription"
        #chatDescription="ngModel"
        required
        type="text">
    </div>
    <div class="d-flex justify-content-center" style="margin-top: 10%">
      <button class="btn btn-primary" (click)="createNewChatRoom(registerForm.value)">Create New Chat</button>
    </div>
  </div>
</div>
</form>

{{ usersForNewChatRoom | json }}

