<p style="text-align:center; margin-top: 5%">Welcome, {{getUserName()}}</p>

<ul *ngFor="let chat of chats" class="list-group">
  <div class="d-flex justify-content-center">
    <li class="list-group-item">
      <div class="btn btn-primary" [routerLink]="['chatMenu/', chat]" style="width: 300px">{{ chat.chatName }}</div>
    </li>
  </div>
</ul>

<div class="d-flex justify-content-center" style="margin-top: 20%;">
  <button class="btn btn-primary" (click)="chooseNewHobby()">
    Choose a hobby
  </button>
  <div>
  <button class="btn btn-primary" (click)="validateAdmin()">
    Admin Validation
  </button>
  <button class="btn btn-primary" (click)="createNewChat()">
    Create new Chatroom
  </button>
    <button class="btn btn-primary" (click)="addNewFriend()">
      Add a friend
    </button>
</div>
</div>
