<div class="d-flex justify-content-center">
<p style="color: cadetblue; font-size: xx-large">{{ chat.chatName }}</p>
<!--  <div class="btn btn-primary" [routerLink]="['inviteFriends/', chat]" >Send invite</div>-->
  <button type="button" class="btn btn-success" style="alignment: left" (click)="routeInviteFriends(chat);">Send invite</button>
</div>


<ul *ngFor="let message of messages" class="list-group">
  <li class="list-group-item">
    <div *ngIf="message.senderId == getCurrentUserId(); else elseBlock">
      <p style="text-align: right"> {{ message.content }}</p>
    </div>
    <ng-template #elseBlock>
      <p style="text-align: left"> {{ message.content }}</p>
    </ng-template>
  </li>
</ul>


<div style="margin-top: 80%" class="d-flex justify-content-center">
  <label for="messageBox">Message Box</label>
</div>
<div class="d-flex justify-content-center">
  <button type="button" class="btn btn-success" style="alignment: left" (click)="refreshMessages();">Refresh</button>
  <input
    ngModel
    style="width: 90%; margin-top: 2%"
    class="form-control"
    id="messageBox"
    name="messageBox"
    #messageBox="ngModel"
    required
    type="text">
  <button type="button" class="btn btn-success" style="alignment: right" (click)="sendMessage(messageBox);">Send</button>
</div>
